<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<bean id="EntityRepository" class="br.org.ons.EssentialServices.repository.EntityRepository">
		<property name="arquiteturaRepository" ref="ArquiteturaCorporativaONSRepository"></property>
		<property name="repositoryName" value="EssentialServicesAPIRepository"></property>
		<property name="essentialProjectPath" value="${essential.project.path}"></property>
	</bean>
	
	<bean id="ApplicationProviderRepository" class="br.org.ons.EssentialServices.repository.ApplicationProviderRepository" parent="EntityRepository"/>
	
	<bean id="ArquiteturaCorporativaONSRepository" class="br.org.ons.EssentialServices.repository.server.ArquiteturaCorporativaONSRepositoryImpl" init-method="init">
		<property name="projectPath" value="${essential.project.path}"></property>
	</bean>

</beans>